/* General styles */
body {
    font-family: monospace;
    background-color: #0fa4af;
    color: #333;
    border: 3px solid #003135;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.container{
    background-color: #0fa4af;
    color: #121212;
    position: sticky;
    margin: 0 auto;
    padding: 20px;
    top: 0;
    z-index: 1000;
    border-bottom: 3px solid #003135;
    font-family: monospace;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header a {
    text-decoration: none;
    color: #000;
}

header a:visited {
    color: #000;
}

header a:hover {
    color: #afdde5; /* Optional: slightly darker on hover */
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #121212;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #afdde5;
}

/* Button styles */
.home_button:before {
    color: #003135;
}

.home_button:hover {
    color: #afdde5;
}

/* Main banner */
.banner {
    text-align: center;
    background-color: #003135;
    color: #121212;
    margin-bottom: 40px;
    border-bottom: 3px solid #003135;
    background-image: url('https://media.newyorker.com/photos/5b0da55154617935a4921f9d/master/w_1600%2Cc_limit/Burdick-FlatEarth2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    padding: 60px 20px;
}

.banner h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #121212;
}


.blog-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
    z-index: 900;
}

.post {
    background-color: #0fa4af;
    border: 3px solid #003135;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 2rem;
    box-shadow: 0 0 15px #0fa4af, 0 0 15px rgba(255, 231, 0.5);
    width: 100%;
    height: 100%;
    
}

.post:hover {
    background-color: #afdde5;
    transform: translateY(-5px);
}

.post-content {
    padding: 20px;
    font-size: 2rem;
}

.post-content h3 {
    font-size: 2rem;
    color: #121212;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 1rem;
    color: #121212;
}

.post-content a {
    text-decoration: none;
    color: #003135;
    font-weight: bold;
    transition: color 0.3s;
}

.post-content a:hover {
    color: #0fa4af;
}


.blog-title {
    text-align: center;
    font-size: 2.5rem;
    color: #121212;
    margin-bottom: 40px;
}

.chat_post{
    background-color: #ç;
    border: 3px solid #003135;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 2rem;
    margin-top: 20px;
    box-shadow: 0 0 15px #0fa4af, 0 0 10px rgba(255, 231, 0.5);
    }

.post-reply {
    margin-left: 20px;
    padding: 10px;
    border-left: 2px solid #ddd;
}

.post-reply .post-author {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace monospace;
}

.post-reply .post-date {
    font-weight: normal;
}

.username {
    margin-left: 20px;
    margin-top: 10px;
}

.post-reply p {
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    background-color: #0fa4af;
}

.gallery-item {
    border: 2px solid #000;
    background-color: #0fa4af;
    text-align: center;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
    background-color: #0fa4af;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #0fa4af;
    border-radius: 5px;
}

.post-date {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
    margin-left: 20px;
}

.post {
    margin-bottom: 20px;
}

.action-button {
    background-color: #0f5f67;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.action-button:hover {
    background-color: #007c8b;
}

.new-post {
    margin-left: 20px;
}

.reply-btn {
    margin-left: 10px;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #0fa4af;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content {
    text-align: center;
}

.close-popup-btn {
    background-color: #007c8b;
    color: #003135;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0fa4af;
    color: #121212;
    margin-top: 40px;
}

footer p {
    font-size: 0.9rem;
}